.page-header {
    position: fixed;
    height:200px;
    top:0;
    margin-top: -20px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    width: 100%;
    z-index: 99;
    min-width: 250px;
}

.page-content {
    margin-top: 170px;
    min-width: 425px;
}

.page-footer {
    z-index: 99;
    position: fixed;
    bottom: 0;
    left:0;
    height: 20px;
    width: 100%;
    text-align: center;
    background-color: lightblue;
    min-width: 200px;
}